$font-family--bryndan_writeregular: 'BryndanWrite', sans-serif;   
$font-family--Rubik: 'Rubik', sans-serif;   
$font-family--Roboto: 'Roboto', sans-serif;   


$screen-table: 768px;
$screen-desktop: 998px;

